body {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 10vw;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.container a {
  color: #3c84c6;
  text-decoration: none;
}

.container:hover {
  background: radial-gradient(circle, white, rgb(239, 239, 239) 100%);
}

.container a:hover {
  text-decoration: underline;
}
