body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header-container {
  height: 600px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
}

.name {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.job-title {
  font-size: 25px;
  color: #777;
  margin: 0;
}

.about-me {
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 15px;
}

.resume-link {
  color: blue;
  text-decoration: none;
}

.resume-link:hover {
  color: navy;
  text-decoration: underline;
}

.tech-stack,
.languages,
.contact-info,
.links {
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: left;
}

.tech-stack b,
.languages b,
.contact-info b,
.links b {
  margin-right: 20px;
}

.languages span {
  color: #777;
}

.contact-info span,
.links span {
  margin-right: 40px;
}

.contact-info a,
.links a {
  text-decoration: none;
}

.contact-info i {
  font-size: 20px;
}

.links i {
  font-size: 25px;
}

.contact-info a i,
.links a i {
  color: blue;
}

.contact-info a i:hover,
.links a i:hover {
  color: navy;
}

.tech-stack h3,
.languages h3 {
  display: inline;
  margin: 0;
}

.tech-stack p,
.languages p {
  margin: 0;
}

/* Projects Container  */
.projects-container h2 {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.project {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.project:last-child {
  margin-right: 0;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.project:hover img {
  filter: grayscale(0%);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}

.project-details h4 {
  margin: 0 0 10px;
}

.project-title {
  display: flex;
}

.project-details {
  cursor: pointer;
}

.project-details-dialog {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.project-details-dialog-title-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.project-details-dialog-app-logo {
  width: 50px;
  height: 50px;
}

.project-details-dialog-title {
  margin: 0;
}

.project-details-dialog-title {
  font-weight: bold;
  padding: 0 10px;
}

.project-details-dialog-text {
  padding: 0 10px;
}
.project-details-dialog-tech {
  padding: 0 10px;
}

.project-details-dialog-links {
  display: flex;
  margin-top: 5px;
}

.project-details-dialog-links a {
  flex-basis: 100%;
  display: block;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.project-details-dialog-links a:first-child {
  border-bottom-left-radius: 10px;
  border-right: 0.5px solid white;
}

.project-details-dialog-links a:first-child:hover {
  background-color: darkblue;
}

.project-details-dialog-links a:last-child {
  border-bottom-right-radius: 10px;
  border-left: 0.5px solid white;
}

.project-details-dialog-links a:last-child:hover {
  background-color: darkblue;
}

.dialog-close-button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  background: none;
  color: blue;
  border: none;
}

.dialog-close-button:hover {
  color: navy;
}

.project-details-dialog-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev-button,
.next-button {
  color: blue;
}

.prev-button {
  left: 0px;
}

.next-button {
  right: 0px;
}

.prev-button:hover {
  color: navy;
}
.next-button:hover {
  color: navy;
}

.slider-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-details-dialog-slider .slider-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  object-fit: cover;
}

.project-details-dialog-slider .slider-image.active {
  opacity: 1;
}

/* Certificates Container  */
.certificates-container {
  margin-top: 30px;
  text-align: center;
}

.certificates-container h2 {
  text-align: center;
}

.certificate {
  display: inline-block;
  margin: 10px;
}

.certificate img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s, transform 0.3s;
}

.certificate img:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 250px) {
  .container {
    padding: 0px 10px;
  }

  .about-me,
  .tech-stack,
  .languages,
  .contact-info,
  .links {
    font-size: 16px;
  }

  .project {
    flex-basis: calc(100%);
  }

  .header-container {
    height: 800px;
  }

  .project-details-dialog {
    max-width: 300px;
  }
  .project-details-dialog-text,
  .project-details-dialog-tech,
  .project-details-dialog-links {
    font-size: 15px;
  }

  .project-details-dialog-title {
    font-size: 17px;
  }

  .project-details-dialog-slider,
  .project-details-dialog-slider .slider-image {
    height: 250px;
  }
}

@media screen and (min-width: 500px) {
  .container {
    padding: 0px 10px;
  }

  .about-me,
  .tech-stack,
  .languages,
  .contact-info,
  .links {
    font-size: 18px;
  }

  .project {
    flex-basis: calc(50% - 10px);
  }

  .header-container {
    height: 700px;
  }

  .project-details-dialog {
    max-width: 450px;
  }

  .project-details-dialog-text,
  .project-details-dialog-tech,
  .project-details-dialog-links {
    font-size: 17px;
  }

  .project-details-dialog-title {
    font-size: 19px;
  }

  .project-details-dialog-slider,
  .project-details-dialog-slider .slider-image {
    height: 280px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    padding: 0px 0px;
  }

  .about-me,
  .tech-stack,
  .languages,
  .contact-info,
  .links {
    font-size: 20px;
  }

  .project {
    flex-basis: calc(33.33% - 15px);
  }

  .header-container {
    height: 700px;
  }

  .project-details-dialog {
    max-width: 600px;
  }

  .project-details-dialog-text,
  .project-details-dialog-tech,
  .project-details-dialog-links {
    font-size: 18px;
  }

  .project-details-dialog-title {
    font-size: 20px;
  }

  .project-details-dialog-slider,
  .project-details-dialog-slider .slider-image {
    height: 300px;
  }
}
