body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header-container {
  height: 700px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
}

.name {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.job-title {
  font-size: 25px;
  color: #777;
  margin: 0;
}

.about-me {
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 15px;
}

.resume-link {
  color: blue;
  text-decoration: none;
}

.resume-link:hover {
  color: navy;
  text-decoration: underline;
}

.tech-stack,
.languages,
.contact-info {
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 5px;
  text-align: left;
}

.contact-info span {
  margin-right: 40px;
}

.contact-info a {
  text-decoration: none;
}

.contact-info i {
  font-size: 25px;
}

.contact-info a i {
  color: blue;
}

.contact-info a i:hover {
  color: navy;
}

.tech-stack h3,
.languages h3 {
  display: inline;
  margin: 0;
}

.tech-stack p,
.languages p {
  margin: 0;
}

/* Projects Container  */
.projects-container h2 {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.projects h3 {
  display: block;
  margin-bottom: 10px;
}

.project {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.project:last-child {
  margin-right: 0;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.project:hover img {
  filter: grayscale(0%);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.project-details h4 {
  margin: 0 0 10px;
}

.project-title {
  display: flex;
}

.project-details {
  cursor: pointer;
}

.project-details-dialog {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.project-details-dialog-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-details-dialog-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

.project-details-dialog-text {
  font-size: 18px;
  padding: 0 10px;
}
.project-details-dialog-tech {
  font-size: 18px;
  padding: 0 10px;
}

.project-details-dialog-links {
  display: flex;
  margin-top: 10px;
}

.project-details-dialog-links a {
  flex-basis: 50%;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.project-details-dialog-links a:first-child {
  background-color: blue;
  border-bottom-left-radius: 10px;
  border-right: 0.5px solid white;
}

.project-details-dialog-links a:first-child:hover {
  background-color: darkblue;
}

.project-details-dialog-links a:last-child {
  background-color: blue;
  border-bottom-right-radius: 10px;
  border-left: 0.5px solid white;
}

.project-details-dialog-links a:last-child:hover {
  background-color: darkblue;
}

.dialog-close-button {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 30px;
  background: none;
  color: black;
  border: none;
}
